body {
  margin: 0;
  padding: 25px;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.articles-display{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  width: 27vw;
  border: black 2px solid;
  border-radius: 30px;
  padding: 15px;
  margin: 15px 5px;
}

.card-img{
  width: 100%;
}